@import "tailwindcss";

:root {
  --primary: #2563eb;
  --secondary: #64748b;
  --background: #f8fafc;
  --surface: #ffffff;
  --text: #0f172a;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Inter', sans-serif;
}